h1 {
  text-align: center;
}

h4 {
  font-weight:bold;
}

hr {
  height:1px;
  background-color:#433F3E;
}

#subtitle {
  text-align: center;
  font-style: italic;
}

.row {
  padding-top: 15px;
  padding-bottom: 15px;
}

